@font-face {
   font-family: 'Pacifico';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/Connor/Documents/GitHub/tuitaro//fonts/Pacifico/regular.ttf') format('truetype');
}
